/*styles go here*/

/*p{
  color:pink;
}*/
.wrapper {
    display: flex;
    flex-flow: row wrap;
}
header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

body {
	font-size: 1em;
	font-family: 'Merriweather Sans', sans-serif;
	color: #fff;
	background: #aca66a;
	padding-left: 5%;
	padding-right: 5%;
}
p{
  font-family: 'Vollkorn', 'Playfair Display', serif;
  font-size: 1.5rem;
  line-height: 2rem;

}
.container li:last-of-type a{
  border-bottom: none;
	padding: 3px;
	background: #fff;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
	text-align: center;
	flex-flow: row wrap;
	justify-content: flex-end;
}
.item {
	color: #000;
	padding: 15px;
	margin: 5px;
	background: #aca66a;
	border-radius: 3px;
}

.container a:hover {
    	background: black;
    }

.italic {
  font-style: italic;
}

h1{
  font-family: 'Lobster', cursive, "Impact", sans-serif;
}
h2{
  font-family: Impact, "Times New Roman", sans-serif;
  font-size: 3rem;
}

body{
  background-color:#eec88c;
}

#container {
  width: 95%;
/*  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto;*/
  margin: 0 auto;
}
#nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding:0;
  width: 25%;
}

#nav a:link, #nav a:visited {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #ffffff;
  background-color: #aca66a;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color: #eec88c;
}

.caption{
  color: #aca66a;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 0;
  text-align: inherit;
}

#footer{
  color: #aca66a;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 0.8em;
  border-top: 1px solid #aca66a;
}

img {
  width:100%;
	float: left;

}


@media (min-width:800px) {

    aside {
        flex: 1 auto;
    }

    article {
			display: flex;
		flex: 3 0px;
	}

    .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    footer {
        order: 4;
    }

    /*These styles apply to the floated image technique*/

            /*========================

            img {
                width: 45%;
                float: left;
                margin-right: 10px;
            }

            .first {
                margin-top: 0;
            }

            =======================*/

    /*These styles apply to the Flexbox image technique */

    article {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    /*This code is for the first image attempt -- the object-fit property*/
    /*img {
        width: 45%;
        object-fit: contain;
    }*/

    .image {
        width: 45%;
						margin-right: 10px;
				}
    }

    .story {
        width: 45%;
    }

    .first {
        margin-top: 0;
    }
}
